<%= link_to "Preguntas", '/questions', class: "btn btn-lg btn-primary" %>
<h1>Pregunta - <%=@question.description%></h1>
<h2><%=@question.answer_one%></h2>
<h2><%=@question.answer_two%></h2>
<h2><%=@question.answer_three%></h2>
<h2><%=@question.answer_four%></h2>
