<h1>Preguntas</h1>
<h3>Estudiante id</h3><%=@student_id_local%>
    <h2><%= @question.description%> - <%= @question.id%></h2>
      <% @answers.each do |a|%>
          <h3><%= a.description%></h3>
      <%end%>
  <%yield%>

<%= @array_preguntas%>
